.nombre_l {
    color: blue;
}

.col50 {
    text-align: center;
    width: 50%;
}

.col35 {
    width: 35%;
    text-align: right;
}

.col15 {
    width: 15%;
    text-align: right;
}

.col10 {
    width: 10%;
    text-align: center;
}

.col90 {
    width: 90%;
}

.col100_texto_centrado_xlarge {
    width: 100%;
    text-align: center;
    font-size: x-large;
}

.col40_textoDerecha {
    width: 40%;
    text-align: right;
}

.col40 {
    width: 40%;
}

.col20 {
    width: 20%;
}

.LNombre {
    font-size: xx-large;
}

.buttonQuitar {
    background-color: tomato;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

    .buttonQuitar:hover {
        color: black;
        box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    }

.buttonAgg {
    background-color: #4CAF50;
    border: none;
    color: white;
    border-radius: 2px;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

    .buttonAgg:hover {
        color: black;
        box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    }

.buttonFiltro {
    display: inline-block;
    border-radius: 4px;
    background-color: #aeaeae;
    border: none;
    color: #000000;
    text-align: center;
    font-size: 20px;
    padding: 20px;
    width: 250px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

.col20 {
    width: 20%;
    height: 20%;
}

.col70 {
    text-align: center;
    width: 70%;
}


.buttonFiltro span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

    .buttonFiltro span:after {
        content: '\00bb';
        position: absolute;
        opacity: 0;
        top: 0;
        right: -20px;
        transition: 0.5s;
    }

.buttonFiltro:hover span {
    padding-right: 25px;
}

    .buttonFiltro:hover span:after {
        opacity: 1;
        right: 0;
    }
